@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

/* Primary */
/* Neutral */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 1000px) {
  .container main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px black solid;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container main {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1000px) {
  .container main .main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
.container .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
@media only screen and (min-width: 1000px) {
  .container .description {
    padding: 0;
  }
}
.container .description h3 {
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.container .description h1 {
  color: hsl(220deg, 13%, 13%);
  margin: 1rem 0;
}
@media only screen and (min-width: 1000px) {
  .container .description h1 {
    font-size: 40px;
    width: 400px;
  }
}
.container .description p {
  color: hsl(219deg, 9%, 45%);
  line-height: 1.75rem;
}
@media only screen and (min-width: 1000px) {
  .container .description p {
    width: 400px;
  }
}
.container .pricing {
  margin: 0 2rem;
}
@media only screen and (min-width: 1000px) {
  .container .pricing {
    margin: 1rem 0;
  }
}
.container .pricing ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
@media only screen and (min-width: 1000px) {
  .container .pricing ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.container .pricing ul .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
@media only screen and (min-width: 1000px) {
  .container .pricing ul .left {
    align-items: center;
    justify-content: start;
  }
}
.container .pricing ul .left li:first-child {
  font-weight: 700;
  font-size: 24px;
  color: hsl(220deg, 13%, 13%);
}
.container .pricing ul .left li:last-child {
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  font-size: 15px;
  background-color: hsl(25deg, 100%, 94%);
  padding: 0.25rem 0.5rem;
  margin: 0 0.75rem;
  border-radius: 10px;
}
.container .pricing ul .right li {
  text-decoration: line-through;
  font-weight: 700;
  color: hsl(220deg, 14%, 75%);
  margin: 0.5rem 0;
}
@media only screen and (min-width: 1000px) {
  .container .desktop-row {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
  }
}
.container .inc-dec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem;
}
@media only screen and (min-width: 1000px) {
  .container .inc-dec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0;
  }
}
.container .inc-dec p {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  font-size: 16px;
}
.container .inc-dec button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s ease;
}
@media only screen and (min-width: 1000px) {
  .container .inc-dec button:last-child {
    margin-top: 0.25rem;
  }
  .container .inc-dec button:hover {
    opacity: 70%;
  }
}
.container .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
@media only screen and (min-width: 1000px) {
  .container .cart {
    width: 100%;
  }
}
.container .cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26deg, 100%, 55%);
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 0 2rem;
  padding: 1.25rem 0rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px hsl(26deg, 100%, 55%);
  transition: all 0.15s ease;
}
.container .cart button:hover {
  opacity: 70%;
}
.container .cart button p {
  margin: 0 1rem;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.container__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 1.25rem 0;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 0;
    border-bottom: 1px hsl(220deg, 14%, 75%) solid;
  }
}
@media only screen and (min-width: 1000px) {
  .container__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 0;
    border-bottom: 1px hsl(220deg, 14%, 75%) solid;
  }
}
.container__navbar .start, .container__navbar .end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (min-width: 1000px) {
  .container__navbar .start, .container__navbar .end {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.container__navbar .links {
  display: none;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container__navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin: 0 1rem;
  }
  .container__navbar .links a {
    text-decoration: none;
    margin: 0 0.5rem;
    color: hsl(219deg, 9%, 45%);
    padding: 37px 0;
    height: 100%;
    transition: all 0.15s ease;
    border-bottom: 3px solid hsl(0deg, 0%, 100%);
  }
  .container__navbar .links a:hover {
    color: black;
    border-bottom: 3px solid hsl(26deg, 100%, 55%);
  }
}
@media only screen and (min-width: 1000px) {
  .container__navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  .container__navbar .links a {
    text-decoration: none;
    margin: 0 1rem;
    color: hsl(219deg, 9%, 45%);
    padding: 37px 0;
    height: 100%;
    transition: all 0.15s ease;
    border-bottom: 3px solid hsl(0deg, 0%, 100%);
  }
  .container__navbar .links a:hover {
    color: black;
    border-bottom: 3px solid hsl(26deg, 100%, 55%);
  }
}
.container__navbar .start {
  width: 50%;
  justify-content: space-around;
  margin-left: 0.5rem;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container__navbar .start {
    justify-content: space-between;
  }
}
.container__navbar .start > img:last-child {
  width: 30%;
}
.container__navbar .start button {
  background-color: transparent;
  border: none;
  margin-top: 0.5rem;
}
@media only screen and (min-width: 1000px) {
  .container__navbar .start button {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container__navbar .start button {
    display: none;
  }
}
.container__navbar .start button img {
  width: 100%;
}
.container__navbar .end {
  position: relative;
}
.container__navbar .end button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container__navbar .end button .number {
  display: block;
  position: absolute;
  top: -0.65rem;
  right: -0.75rem;
  padding: 0.1rem 0.65rem;
  border-radius: 30px;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  font-weight: 700;
  font-size: 10px;
}
.container__navbar .end > img:last-child {
  width: 20%;
}
@media only screen and (min-width: 1000px) {
  .container__navbar .end > img:last-child {
    width: 40%;
    border: 2px solid hsl(0deg, 0%, 100%);
    border-radius: 50%;
    transition: all 0.15s ease;
    cursor: pointer;
  }
  .container__navbar .end > img:last-child:hover {
    border: 2px hsl(26deg, 100%, 55%) solid;
  }
}
.container .cart-toggle {
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  left: 0rem;
  right: 0rem;
  width: 350px;
  background-color: white;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
  opacity: 0;
  transition: all 150ms ease-in-out;
}
@media only screen and (min-width: 1000px) {
  .container .cart-toggle {
    position: absolute;
    margin: 0;
    right: 2rem;
    top: 6.5rem;
    left: auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container .cart-toggle {
    position: absolute;
    margin: 0;
    right: 2rem;
    top: 6.5rem;
    left: auto;
  }
}
.container .cart-toggle h3 {
  padding: 1rem 1.5rem;
  border-bottom: 1px hsl(220deg, 14%, 75%) solid;
}
.container .cart-toggle .empty-cart {
  display: block;
}
.container .cart-toggle .empty-cart p {
  text-align: center;
  margin: 5.5rem 0;
  font-weight: 700;
  color: hsl(219deg, 9%, 45%);
}
.container .cart-toggle .full-cart {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem 2rem;
}
.container .cart-toggle .full-cart .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .cart-toggle .full-cart .row h5 {
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
  font-size: 13px;
}
.container .cart-toggle .full-cart .row img:first-child {
  width: 20%;
  border-radius: 5px;
}
.container .cart-toggle .full-cart .row .content {
  display: flex;
  flex-direction: column;
}
.container .cart-toggle .full-cart .row ul {
  list-style-type: none;
  display: flex;
}
.container .cart-toggle .full-cart .row ul li:first-child {
  color: hsl(219deg, 9%, 45%);
}
.container .cart-toggle .full-cart .row ul li:last-child {
  font-weight: 700;
  margin: 0 0.5rem;
}
.container .cart-toggle .full-cart .row .delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container .cart-toggle .full-cart .row .delete img {
  width: 100%;
}
.container .cart-toggle .full-cart .checkout {
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  border-radius: 10px;
  margin: 0 2rem;
  padding: 1.25rem 0;
  color: white;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  margin-top: 2rem;
}
.container .cart-toggle[data-toggle=true] {
  opacity: 1;
  transform: translateY(0px);
}
.container .nav-toggle {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 0 2.5rem;
  background-color: white;
  z-index: 4;
  transform: translateX(-100%);
  transition: all 0.7s ease-in-out;
}
@media only screen and (min-width: 1000px) {
  .container .nav-toggle {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container .nav-toggle {
    display: none;
  }
}
.container .nav-toggle button {
  border: none;
  background-color: transparent;
}
.container .nav-toggle button img {
  position: absolute;
  top: 1.75rem;
  left: 2.25rem;
}
.container .nav-toggle a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 16px;
}
.container .nav-toggle[data-visible=true] {
  transform: translateX(0%);
}

.desktop-images {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .desktop-images {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .desktop-images .images-display img {
    width: 450px;
    border-radius: 10px;
  }
}
.desktop-images .second, .desktop-images .third, .desktop-images .fourth {
  display: none;
}
.desktop-images .images-buttons {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .desktop-images .images-buttons {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }
}
.desktop-images .images-buttons button {
  width: 100px;
  height: 100px;
  border: none;
  margin-top: 1rem;
}
.desktop-images .images-buttons button:hover, .desktop-images .images-buttons button:focus {
  opacity: 70%;
}
.desktop-images .images-buttons button:focus {
  border: 2px hsl(26deg, 100%, 55%) solid;
}
.desktop-images .images-buttons button img {
  width: 100px;
}
.desktop-images .images-buttons .first-btn {
  background-image: url(/images/image-product-1-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.desktop-images .images-buttons .second-btn {
  background-image: url(/images/image-product-2-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.desktop-images .images-buttons .third-btn {
  background-image: url(/images/image-product-3-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.desktop-images .images-buttons .fourth-btn {
  background-image: url(/images/image-product-4-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.toggle-images {
  display: none;
  position: absolute;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 222;
}
.toggle-images .toggle-img {
  display: none;
  position: relative;
  padding-top: 4rem;
}
.toggle-images .toggle-img .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
}
.toggle-images .toggle-img .close-btn img {
  width: 20px;
}
.toggle-images .toggle-img .toggle-images-btn {
  width: 500px;
  height: 500px;
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-images .images-display {
  width: 500px;
}
.toggle-images .images-display img {
  position: absolute;
  width: 500px;
  border-radius: 10px;
}
.toggle-images .second, .toggle-images .third, .toggle-images .fourth {
  display: none;
}
.toggle-images .images-buttons {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.toggle-images .images-buttons button {
  width: 100px;
  height: 100px;
  border: none;
  margin-top: 1rem;
}
.toggle-images .images-buttons button:hover, .toggle-images .images-buttons button:focus {
  opacity: 70%;
}
.toggle-images .images-buttons button:focus {
  border: 2px hsl(26deg, 100%, 55%) solid;
}
.toggle-images .images-buttons button img {
  width: 100px;
}
.toggle-images .first-btn {
  background-image: url(/images/image-product-1-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.toggle-images .second-btn {
  background-image: url(/images/image-product-2-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.toggle-images .third-btn {
  background-image: url(/images/image-product-3-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.toggle-images .fourth-btn {
  background-image: url(/images/image-product-4-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .images {
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 1000px) {
  .images {
    display: none;
  }
}
.images #img-display {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: -1;
}
.images #img-display img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.images__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0rem 1rem;
}
.images__buttons button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 0.7rem;
  z-index: 3;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.images__buttons button:active {
  transform: scale(1.1);
}
.images__buttons button img {
  width: 10px;
  height: 13px;
  margin-top: 0.1rem;
}/*# sourceMappingURL=index.css.map */